{% assign MagicToolboxSirvID = '' %}
{% assign MagicToolboxSirvSpinsPath = 'products/{product-id}/{product-id}.spin' %}
{% assign MagicToolboxThumbnailsLayout = 'left' %}
{% assign MagicToolboxUseMagicScroll = 'Yes' %}
{% assign MagicToolboxShowMessage = 'Yes' %}
{% assign MagicToolboxMessage = 'Move your mouse over image or click to enlarge' %}
{% assign MagicToolboxBigImageSize = 'master' %}
{% assign MagicToolboxThumbnailImageSize = 'large' %}
{% assign MagicToolboxSelectorImageSize = 'small' %}
{% assign MagicToolboxUseCustomWidth = 'No' %}
{% assign MagicToolboxThumbnailImageWidth = '480' %}
{% if MagicToolboxUseCustomWidth == 'Yes' %}
<style type="text/css">.MagicZoomPlus > figure > img { max-width: {{ MagicToolboxThumbnailImageWidth }}px !important; }</style>
{% endif %}

<div class="MagicToolboxContainer layout-{{ MagicToolboxThumbnailsLayout }} thumbnail-size-{{ MagicToolboxSelectorImageSize }}{% if product.images.size < 2 %} no-thumbnails{% endif %}">

    {% assign mt_current_variant = product.selected_or_first_available_variant %}
    {% assign mt_featured_image = mt_current_variant.featured_image | default: product.featured_image %}
    {% assign mt_featured_image_ = '' %}
    {% assign first_image_is_video = false %}

    {% assign ScrollOrientation = 'vertical' %}
    {% if MagicToolboxThumbnailsLayout == 'bottom' %}
        {% assign ScrollOrientation = 'horizontal' %}
    {% endif %}

    {% capture MagicToolboxSelectors %}
    <div class="MagicToolboxSelectorsContainer" {% if product.images.size < 2 %}style="display:none"{% endif %}>
      {% if MagicToolboxUseMagicScroll == 'Yes' %}
      <div id="msc-selectors-container" class="MagicScroll" data-options="autostart: false; orientation: {{ ScrollOrientation }};" data-mobile-options="orientation: horizontal;">
        {% endif %}
        {% for image in product.images %}
            {% if image.alt contains 'youtube' or image.alt contains 'vimeo' or image.alt contains 'youtu.be' %}
                {% if forloop.index0 == 0 and mt_featured_image == image %}
                    {% assign first_image_is_video = true %}
                {% endif %}
                <a data-slide-id="video-{{ image.id }}" href="{{ image.alt }}"><img src="{{ image | product_img_url: MagicToolboxSelectorImageSize }}" alt="{{ image.alt | escape }}" /></a>
            {% else %}
                {% if mt_featured_image_ == '' %}
                    {% assign mt_featured_image_ = image %}
                {% endif %}
                <a {% if mt_featured_image == image %}class="active-magic-selector"{% endif %} data-slide-id="zoom" href="{{ image | product_img_url: MagicToolboxBigImageSize }}" data-zoom-id="zoom{{ product.id }}" data-image="{{ image | product_img_url: MagicToolboxThumbnailImageSize }}" title="{{ image.alt | escape }}"><img src="{{ image | product_img_url: MagicToolboxSelectorImageSize }}" alt="{{ image.alt | escape }}" /></a>
            {% endif %}
        {% endfor %}
        {% if MagicToolboxUseMagicScroll == 'Yes' %}
      </div>
      {% endif %}
    </div>
    {% endcapture %}
  
    {% if first_image_is_video %}
        {% assign mt_featured_image = mt_featured_image_ %}       
    {% endif %}
  
    {% if MagicToolboxThumbnailsLayout == 'left' or MagicToolboxThumbnailsLayout == 'right' %}
        {{ MagicToolboxSelectors }}
    {% endif %}

    <div class="MagicToolboxSlides">
        <a {% if product.images.size < 2 %}style="display:none"{% endif %} href="#" class="MagicToolboxSlides-arrow prev"></a>
        <a {% if product.images.size < 2 %}style="display:none"{% endif %} href="#" class="MagicToolboxSlides-arrow next"></a>
        <div data-slide-num="{{ forloop.index0 }}" data-slide-id="zoom" class="MagicToolboxSlide active-magic-slide">
            <a href="{{ mt_featured_image | product_img_url: MagicToolboxBigImageSize }}" class="MagicZoomPlus" id="zoom{{ product.id }}" title="{{ mt_featured_image.alt | escape }}"><img itemprop="image" src="{{ mt_featured_image | product_img_url: MagicToolboxThumbnailImageSize }}" alt="{{ mt_featured_image.alt | escape }}" /></a>
            {% if MagicToolboxShowMessage == 'Yes' %}
            <div class="MagicToolboxMessage">{{ MagicToolboxMessage }}</div>
            {% endif %}
        </div>
        {% for image in product.images %}
            {% if image.alt contains 'youtube' or image.alt contains 'vimeo' or image.alt contains 'youtu.be' %}
                <div data-slide-num="{{ forloop.index0 }}" class="MagicToolboxSlide" data-slide-id="video-{{ image.id }}" data-video-url="{{ image.alt }}"></div>
            {% endif %}
        {% endfor %}
    </div>

    {% if MagicToolboxThumbnailsLayout == 'bottom' %}
        {{ MagicToolboxSelectors }}
    {% endif %}

</div>

<script type="text/javascript">
var SirvID = '{{ MagicToolboxSirvID }}';
var SirvSpinsPath = '{{ MagicToolboxSirvSpinsPath }}';
var SirvProductID = {{ product.id }};
var SirvIconURL = '{{ 'SirvIcon.png' | asset_url }}';
var SirvVariants = {};
{% for variant in product.variants %}
variant = {{ variant | json }};
SirvVariants[variant.id] = false;
{% endfor %}  
</script>