{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).load(function() {$('.single-option-selector').hide(); $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
{% comment %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% endcomment %}
{% else %}
<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="header" style="display: none;">{{ swatch }}</div>
<!--   <div class="select_drop">
    <div class="option_pick"></div>
  </div> -->
  {% assign values = '' %}
  <ul id="swatch_scroll" class="swatch_ul" style="display: none;">
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
      <li data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
        
        <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
        
        <label for="swatch-{{ option_index }}-{{ value | handle }}" class="opt_ch">
          {{ value }}
        </label>
        
      </li>
    {% endunless %}
    {% if variant.available %}
    <script>
      jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
    </script>
    {% endif %}
  {% endfor %}
  </ul>
</div>

{% endunless %}

{% endif %}


<script>
$(document).ready(function(){
$('.single-option-selector').hide();  
$('.swatch_ul').show();    
  {% comment %}
    
var opt = $('#SingleOptionSelector-0').find('option:selected').val();
$('.swatch[data-option-index="0"] .select_drop .option_pick').text(opt);  

$('.swatch .select_drop .option_pick').click(function(){
  $(this).parents('.select_drop').siblings('.swatch_ul').slideToggle(300);
});  
$(document).on('click', function(event){
  var x = $(event.target).attr('class');
  if(x=='option_pick' || x=='swatch_ul' || x=='swatch-element' || x== 'opt_ch')
  {
    //console.log('you');
  }
  else{
    $('.swatch_ul').slideUp(300);   
  }
});
$(document).on('click', '.swatch .swatch-element', function(event){
  var v = $(this).data('value');
  $(this).parents('.swatch').find('.option_pick').text(v);  
});  
{% endcomment %}  
});  
</script>

  