<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'swatch.scss.css' | asset_url | stylesheet_tag }}
  {{ 'style-dev.scss.css' | asset_url | stylesheet_tag }}


  {% include 'google-fonts' %}
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  {{ content_for_header }}

  {{ "font.css" | asset_url | stylesheet_tag }}

  {{ "snapper.js" | asset_url | script_tag }}
  {{ "script-dev.js" | asset_url | script_tag }}
  {% include 'shogun-head' %}

  {% include 'magiczoomplus.headers' %}
  <script type="text/javascript">
	 $(document).ready(function() {
    $('.header_outer').scrollToFixed();
  });
  </script>
</head>

<body id="template-{{ template | split: '.' | first }}" class="template-{{ template | split: '.' | first }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>



  <div id="NavDrawer" class="drawer drawer--left">
    <div class="acc_drawer">

        <div class="one-whole log_main" style="display: none;">
          <div class="note form-success hide" id="ResetSuccess">
            {{ 'customer.recover_password.success' | t }}
          </div>

          <div id="CustomerLoginForm" class="form-vertical">
            {% form 'customer_login' %}

            {{ form.errors | default_errors }}

            <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
            <input type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>

            {% if form.password_needed %}
            <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
            {% endif %}

            <div class="text-center">
              {% if form.password_needed %}
              <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
              {% endif %}

              <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">

              <p>
                {{ 'layout.customer.create_account' | t | customer_register_link }}
              </p>
            </div>

            {% endform %}
          </div>

          <div id="RecoverPasswordForm" class="hide">

            <div class="text-center">
              <p>{{ 'customer.recover_password.subtext' | t }}</p>
            </div>

            <div class="form-vertical">
              {% form 'recover_customer_password' %}

              {{ form.errors | default_errors }}

              {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
              {% endcomment %}
              {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
              {% endif %}

              <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
              <input type="email" value="" name="email" id="RecoverEmail" class="input-full"autocorrect="off" autocapitalize="off">

              <div class="text-center">
                <p>
                  <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
                </p>

                <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
              </div>
              {% endform %}
            </div>

          </div>
        </div>
    </div>
  </div>


  {% unless template == 'cart'  %} 
  {% if settings.cart_type == "drawer" %}
  <div id="CartDrawer" class="drawer drawer--right">
    {% comment %}
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
        </button>
      </div>
    </div>
    {% endcomment %}

    <div id="CartContainer"></div>
  </div>
  {% endif %}
  {% endunless %}

  <div class="header_outer is-moved-by-drawer">
    {% section 'header' %}
  </div>

  <div class="page-container is-moved-by-drawer" id="PageContainer">
    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
  </div>
  
  <div class="footer_outer">
    {% section 'footer' %}
  </div>
  {% comment %}  
  {% include 'ajaxify-cart' %}
  {% endcomment %}    
  <script>
    jQuery(function() {
      jQuery('.swatch :radio').change(function() {
        var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
        var optionValue = jQuery(this).val();
        jQuery(this)
        .closest('form')
        .find('.single-option-selector')
        .eq(optionIndex)
        .val(optionValue)
        .trigger('change');
      });
    });
  </script>  

  {% unless template == 'cart'  %} 
  {{ 'ajaxcart.scss.css' | asset_url | stylesheet_tag }}
  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajax-cart.js' | asset_url | script_tag }}
  <script>
    jQuery(function($) {
      ajaxCart.init({
        formSelector: '#product_main_form',
        cartContainer: '#CartContainer',
        addToCartSelector: '#AddToCart-product-template',
        cartCountSelector: '#CountSpan',
        cartCostSelector: '#CartCost',
        moneyFormat: {{ shop.money_format | json }}
      });
      });

      jQuery('body').on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
  </script>  
  {% endunless %}  
  <script>
    $(document).ready(function(){
     $(document).click(function (e) {
        if (!$(e.target).closest('.drawer').length) {
          if($('body').hasClass('js-drawer-open-right')){
            timber.RightDrawer.close();
            //console.log('cart/yes');
          }
          
          if($('body').hasClass('js-drawer-open-left')){
            timber.LeftDrawer.close();
            //console.log('login/yes');
          }
        }
      });     
      $('.site-header__account').click(function(){
		setTimeout(function(){
        //console.log('yo');
        $('.log_main').show();
        }, 200);
      });
    });
  </script>
</body>
</html>
