{% if section.settings.message %}
<style>
  .notification-bar {
    background-color: {{ section.settings.color_bg }};
  }

  .notification-bar__message {
    color: {{ section.settings.color_text }};
  }

  {% if section.settings.logo != blank %}
  .site-header__logo-image {
    max-width: {{ section.settings.logo_max_width | escape }}px;
  }
  {% endif %}

  {% if section.settings.align_logo == 'left' %}
  .site-header__logo-image {
    margin: 0;
  }
  {% endif %}
</style>
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  {% comment %}
  <nav id="MobNavOuter" class="mobile-nav-wrapper1 medium-up--hide" role="navigation" style="display:none">
    <ul id="MobileNav" class="mobile-nav">
      {% for link in linklists[section.settings.main_linklist].links %}
      {%- assign outerLoopIndex = forloop.index -%}
      {%- assign child_list_handle = link.title | handleize -%}

      <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
        {% if linklists[child_list_handle].links != blank %}
        <button type="button" class="btn--link js-toggle-submenu mobile-nav__link" data-target="{{ child_list_handle }}-{{ outerLoopIndex }}" data-level="1">
          {{ link.title }}
          <div class="mobile-nav__icon">
            {% include 'icon-chevron-right' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.expand' | t }}</span>
          </div>
        </button>
        <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}-{{ outerLoopIndex }}" data-level="2">
          <li class="mobile-nav__item border-bottom">
            <div class="mobile-nav__table">
              <div class="mobile-nav__table-cell mobile-nav__return">
                <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button">
                  {% include 'icon-chevron-left' %}
                  <span class="icon__fallback-text">{{ 'layout.navigation.collapse' | t }}</span>
                </button>
              </div>
              <a href="{{ link.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header">
                {{ link.title }}
              </a>
            </div>
          </li>

          {% for childlink in linklists[child_list_handle].links %}
          {% assign grand_child_list_handle = childlink.title | handle %}

          <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
            {% if linklists[grand_child_list_handle].links != blank %}
            <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link" data-target="{{ grand_child_list_handle }}-{{ outerLoopIndex }}-{{ forloop.index }}">
              {{ childlink.title }}
              <div class="mobile-nav__icon">
                {% include 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'layout.navigation.expand' | t }}</span>
              </div>
            </button>
            <ul class="mobile-nav__dropdown" data-parent="{{ grand_child_list_handle }}-{{ outerLoopIndex }}-{{ forloop.index }}" data-level="3">
              <li class="mobile-nav__item border-bottom">
                <div class="mobile-nav__table">
                  <div class="mobile-nav__table-cell mobile-nav__return">
                    <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn" data-target="{{ child_list_handle }}-{{ outerLoopIndex }}">
                      {% include 'icon-chevron-left' %}
                      <span class="icon__fallback-text">{{ 'layout.navigation.collapse' | t }}</span>
                    </button>
                  </div>
                  <a href="{{ childlink.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header">
                    {{ childlink.title }}
                  </a>
                </div>
              </li>
              {% for grandchildlink in linklists[grand_child_list_handle].links %}
              <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                <a href="{{ grandchildlink.url }}" class="mobile-nav__sublist-link">
                  {{ grandchildlink.title | escape }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <a href="{{ childlink.url }}" class="mobile-nav__sublist-link">
              {{ childlink.title | escape }}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <a href="{{ link.url }}" class="mobile-nav__link">
          {{ link.title }}
        </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endcomment %}

  {% if section.settings.message %}
  {% if section.settings.home_page_only == false or template.name == 'index' %}
  <style>
    .announcement-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .announcement-bar--link:hover {
      {% assign brightness = section.settings.color_bg | color_brightness %}

      {% if brightness <= 192 %}
      {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
      background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
      {% else %}
      {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
      background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
      {% endif %}
    }

    .announcement-bar__message {
      color: {{ section.settings.color_text }};
    }
  </style>

  {% if section.settings.message_link == blank %}
  <div class="announcement-bar">
    {% else %}

    <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
      {% endif %}

      <p class="grid__item medium-up--one-half align-text1 announcement-bar__message">{{ section.settings.message_text | escape }}</p>


      {% if section.settings.message_link == blank %}

      {% else %}
    </a>



    <a href="{{ section.settings.message_link2 }}" class="announcement-bar2 announcement-bar--link2">
      {% endif %}

      <p class="grid__item medium-up--one-half align-text2 announcement-bar__message">{{ section.settings.message_text2 | escape }}</p>


      {% if section.settings.message_link2 == blank %}
      </div>
    {% else %}
    </a>
</div>

{% endif %}

{% endif %}
{% endif %}

<header class="site-header{% if section.settings.align_logo == 'left' %} border-bottom logo--left{% else %} logo--center{% endif %}" role="banner">
  <div class="grid grid--no-gutters grid--table">
    {% if section.settings.align_logo == 'center' %}
    <div class="grid__item small--one-third medium-up--one-third">

      {% unless linklists[section.settings.main_linklist] == blank %}
      <button type="button" id="menu_btn" class="btn--link site_main__mnu">
        {% comment %}
        {% include 'icon-hamburger' %}        
        {% endcomment %}
        Menu
      </button>    
      <ul id ="AccessibleNav" class="leftnav site-nav--centered" style="display: none;"> 	 
        {% for link in linklists[section.settings.main_linklist].links %}     

        {%- assign child_list_handle = link.title | handleize -%}

        {% if linklists[child_list_handle].links != blank %}
        <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}">
          <a href="{{ link.url }}" class="site-nav__link site-nav__link--main" aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
            {{ link.title }}
            {% include 'icon-chevron-down' %}
            <span class="visually-hidden">{{ 'layout.navigation.expand' | t }}</span>
          </a>

          <div class="site-nav__dropdown" id="SiteNavLabel-{{ child_list_handle }}">
            <ul>
              {% for childlink in linklists[child_list_handle].links %}
              <li {% if childlink.active %}class="site-nav--active"{% endif %}>

                <a href="{{ childlink.url }}" class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}">{{ childlink.title | escape }}</a>
                {% if linklists[link.handle].link.size > 0 %}
                <div class="site-nav__dropdown" id="SiteNavLabel-{{ child_list_handle }}">
                  <ul>
                    {% for sublink in linklists[link.handle].links %}
                    <li>
                      <a href="{{ sublink.url }}">{{ sublink.title | escape }}</a>
                    </li>{% endfor %}
                  </ul></div>{% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% else %}
        <li {% if link.active %}class="site-nav--active"{% endif %}>
          <a href="{{ link.url }}" class="site-nav__link site-nav__link--main">{{ link.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endunless %}

    </div>
    {% endif %}

    {% if section.settings.align_logo == 'center' %}
    {%- assign logo_classes = 'medium-up--one-third logo-align--center' -%}
    {% else %}
    {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
    {% endif %}




    <div class="grid__item small--one-third {{ logo_classes }}">
      {% comment %}
      Use the uploaded logo from theme settings if enabled.
      Site name gets precedence with H1 tag on homepage, div on other pages.
      {% endcomment %}
      {% if template.name == 'index' %}
      <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
        <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
          {% if section.settings.logo %}
          {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <a href="/index" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
            {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
            <img class="lazyload js"
                 src="{{ section.settings.logo | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ logo_alt | escape }}"
                 style="max-width: {{ section.settings.logo_max_width }}px">
            <noscript>
              {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
              <img src="{{ section.settings.logo | img_url: image_size }}"
                   srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name }}"
                   itemprop="logo"
                   style="max-width: {{ section.settings.logo_max_width }}px;">
            </noscript>
          </a>
          {% else %}
          <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
          {% endif %}
          {% if template.name == 'index' %}
          </h1>
        {% else %}
        </div>
      {% endif %}
    </div>

    {% if section.settings.align_logo == 'left' %}

    <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" style="display:none;" role="navigation">
      {% include 'site-nav' %}
    </nav>

    {% endif %}

    <div class="grid__item small--one-third {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
      <ul class="rightnav site-nav list--inline site-nav--centered"> 	 
        {% for link in linklists[section.settings.right_linklist].links %}
        <li>
          <a href="{{ link.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header">
            {{ link.title }}
          </a>
        </li>  
        {% endfor %}  	
      </ul>

      <ul class="cart-area">
        <li> {% if shop.customer_accounts_enabled %}
          {% if customer %}
          <a href="/account" class="site-header__account js-drawer-open-left">
            Login
          </a>
          {% else %}
          <a href="/account/login" class="site-header__account js-drawer-open-left">
            Login
          </a>
          {% endif %}
          {% endif %}</li>
        <li>
          <a href="/cart" class="site-header__cart js-drawer-open-right">
            Cart
            <div id="CartCount" class="site-header__cart-count {% if cart.item_count == 0 %}hidden-count{% endif %}">
            (<span id="CountSpan">{{ cart.item_count }}</span>)
            <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
            </div>
          </a>
        </li>  
      </ul> 

    </div>
  </div> 
</header>

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
	  {
        "type": "link_list",
        "id": "left_linklist",
        "label": "Left Menu",
        "default": "main-menu"
      },

      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
	 {
        "type": "link_list",
        "id": "right_linklist",
        "label": "Right Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
	  {
        "type": "text",
        "id": "message_text2",
        "label": "Announcement Right text",
        "default": "Announce something here for Right area"
      },
      {
        "type": "url",
        "id": "message_link2",
        "label": "Announcement link right",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      }
    ]
  }
{% endschema %}