<div class="section-header text-center" style="display:none;">
  <h1>{{ page.title }}</h1>
</div>

{% if section.blocks.size > 0 %}
<div id="page_lookbook" class="small--hide">
  {% for block in section.blocks %}
<div>
  <div class="lookbook_outer" style="background-image: url({{ block.settings.image | img_url: 'master' }});">
<!--     <img class="scrollpane_item1" alt="{{ block.settings.image.alt }}" src="{{ block.settings.image | img_url: 'master' }}"> -->
  </div>
  </div>
  {% endfor %}
</div> 
<div id="page_lookbook_mobile" class="lbook_mob medium-up--hide">
  {% for block in section.blocks limit: 11 %}
  <div>
    <div class="lookbook_outer_mob" style="background-image: url({{ block.settings.image | img_url: 'master' }});">
<!--       <img class="scrollpane_item1" alt="{{ block.settings.image.alt }}" src="{{ block.settings.image | img_url: 'master' }}"> -->
    </div>
  </div>
  {% endfor %}
</div>
<div id="page_lookbook_mobile_2" class="lbook_mob medium-up--hide">
  {% for block in section.blocks %}
  {% if forloop.index > 12 %}
  <div>
    <div class="lookbook_outer_mob" style="background-image: url({{ block.settings.image | img_url: 'master' }});">
<!--       <img class="scrollpane_item1" alt="{{ block.settings.image.alt }}" src="{{ block.settings.image | img_url: 'master' }}"> -->
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}


{% schema %}
  {
    "name": "lookbook",
    "settings": [],
	"blocks": [
	{
	"type": "image",
	"name": "lookbook",
	"settings":[
	{
	 "type": "image_picker",
	 "id": "image",
	 "label": "Image"		
	}
	]
	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<script>
  $(document).ready(function(){
    $('#page_lookbook').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      swipe: true,
      adaptiveHeight: true,
      arrows: true  
    });
    $('#page_lookbook_mobile').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      swipe: true,
      adaptiveHeight: true,
      arrows: false   
    });
     $('#page_lookbook_mobile_2').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      swipe: true,
      adaptiveHeight: true,
      arrows: false   
    });
  });  
</script>
<style>
  .main-content {
    padding-top: 0;
  }
</style>