@font-face {
  font-family: 'icons';
  src: url('//cdn.shopify.com/s/files/1/2955/7624/t/13/assets/icons.eot?7348928111206870165');
  src: url('//cdn.shopify.com/s/files/1/2955/7624/t/13/assets/icons.eot?7348928111206870165#iefix') format("embedded-opentype"),
       url('//cdn.shopify.com/s/files/1/2955/7624/t/13/assets/icons.woff?7348928111206870165') format("woff"),
       url('//cdn.shopify.com/s/files/1/2955/7624/t/13/assets/icons.ttf?7348928111206870165') format("truetype"),
       url('//cdn.shopify.com/s/files/1/2955/7624/t/13/assets/icons.svg?7348928111206870165#timber-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}


.js-drawer-open {
    overflow: hidden;
    height:auto;
}

.drawer {
    //-webkit-transform: translateZ(0);
    //will-change: transform;
    display: none;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    padding: 0 1.25rem ;
    max-width: 95%;
    z-index: 9999;
    color: #333;
    background-color: #fff;
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1)
}

.drawer a {
    color: #333
}

.drawer a:hover,
.drawer a:focus {
    opacity: 0.7
}

.drawer input,
.drawer textarea {
    border-color: #e9e9e9
}

.drawer--left {
    width: 182px;
    right: -182px;
    border-right: 1px solid #e9e9e9
}

.js-drawer-open-left .drawer--left {
  display: block;
  -ms-transform: translateX(-182px);
  -webkit-transform: translateX(-182px);
  transform: translateX(-182px)
}

.lt-ie9 .js-drawer-open-left .drawer--left {
    right: 0
}

.drawer--right {
    width: 182px;
    right: -182px;
    border-left: 1px solid #e9e9e9
}

.js-drawer-open-right .drawer--right {
    display: block;
    -ms-transform: translateX(-182px);
    -webkit-transform: translateX(-182px);
    transform: translateX(-182px)
}

.lt-ie9 .js-drawer-open-right .drawer--right {
    right: 0
}

#PageContainer {
    overflow: hidden
}

.is-moved-by-drawer {
/*     -webkit-transform: translateZ(0);
    will-change: transform; */
    //transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1)
}
/*
.js-drawer-open-left .is-moved-by-drawer {
  -ms-transform: translateX(-182px);
  -webkit-transform: translateX(-182px);
  transform: translateX(-182px)
}

.js-drawer-open-right .is-moved-by-drawer {
    -ms-transform: translateX(-182px);
    -webkit-transform: translateX(-182px);
    transform: translateX(-182px)
}*/

.drawer__header {
    display: table;
    height: 70px;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #e9e9e9
}

.drawer__title,
.drawer__close {
    display: table-cell;
    vertical-align: middle
}

.drawer__title {
    width: 100%
}

.drawer__close {
    width: 1%;
    text-align: center;
    font-size: 1.28571em
}

.drawer__close button {
    position: relative;
    right: -20px;
    height: 100%;
    padding: 0 20px;
    color: inherit
}

.drawer__close button:active,
.drawer__close button:focus {
    background-color: #e9e9e9
}
@media screen and (min-width: 769px) {

.cart__row {
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e5e5e5
}

.cart__row:first-child {
    margin-top: 0
}

.cart__row:first-child {
    padding-top: 0
}

.cart__row .js-qty,
.cart__row .ajaxcart__qty {
    margin: 0 auto
}

.cart-table th {
    font-weight: normal
}

.cart-table td,
.cart-table th {
    padding: 30px 15px;
    border: none
}
}

@media screen and (min-width: 769px) {
    .cart__row--table-large {
        display: table;
        table-layout: fixed;
        width: 100%
    }
    .cart__row--table-large .grid__item {
        display: table-cell;
        vertical-align: middle;
        float: none
    }
}

.cart__image {
    display: block
}

.cart__image img {
    display: block;
    max-width: 100%
}

.cart__subtotal {
    margin: 0 0 0 10px;
    display: inline
}

.cart__mini-labels {
    display: block;
    margin: 10px 0;
    font-size: 0.85714em
}

@media screen and (min-width: 769px) {
    .cart__mini-labels {
        display: none
    }
}

.cart__remove {
    display: block
}

.ajaxcart__inner {
    margin-bottom: 30px
}

.ajaxcart__row>.grid,
.ajaxcart__row>.grid--rev,
.ajaxcart__row>.grid--full {
    margin-left: -15px
}

.ajaxcart__row>.grid>.grid__item,
.ajaxcart__row>.grid--rev>.grid__item,
.ajaxcart__row>.grid--full>.grid__item {
    padding-left: 15px
}

/* .ajaxcart__product {
    position: relative;
    max-height: 500px
} */

.ajaxcart__product.is-removed {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 450ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ajaxcart__row {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.ajaxcart__product-image {
    display: block;
    overflow: hidden;
    margin-bottom: 15px
}

.ajaxcart__product-image img {
   // display: block;
    margin: 0 auto;
    max-width: 100%
}

.ajaxcart__product-name,
.ajaxcart__product-meta {
    display: block
}


.js-qty,
.ajaxcart__qty {
    position: relative;
    margin-bottom: 1em;
    max-width: 90px;
    min-width: 75px;
    overflow: visible
}

.js-qty input,
.ajaxcart__qty input {
    display: block;
    background: none;
    text-align: center;
    width: 100%;
    padding: 5px 35px 5px 25px;
    margin: 0
}

.js-qty__adjust,
.ajaxcart__qty-adjust {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    border: 0 none;
    padding: 0 8px;
    background: none;
    text-align: center;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.js-qty__adjust:hover,
.ajaxcart__qty-adjust:hover,
.js-qty__adjust:focus,
.ajaxcart__qty-adjust:focus {
    color: #747474
}

.js-qty__adjust--plus,
.ajaxcart__qty--plus {
    right: 0;
    border-left: 1px solid #e5e5e5
}

.js-qty__adjust--minus,
.ajaxcart__qty--minus {
    left: 0;
    border-right: 1px solid #e5e5e5
}

.ajaxcart__qty {
    margin: 0
}

.is-loading .ajaxcart__qty {
    opacity: 0.5;
    transition: none
}

.ajaxcart__qty-num {
    border-color: #e9e9e9;
    color: #333
}

.ajaxcart__qty-adjust {
    color: #333
}

.ajaxcart__qty--plus {
    border-color: #e9e9e9
}

.ajaxcart__qty--minus {
    border-color: #e9e9e9
}

.ajaxcart-item__price-strikethrough {
    float: right
}

#CartDrawer .icon:before {
  display: inline;
  font-family: 'icons';
  text-decoration: none;
  speak: none; // future fallback, limited in effect currently
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*================ Icon mapping ================*/
.icon-amazon_payments:before { content: "\e800"; }
.icon-american_express:before { content: "\41"; }
.icon-arrow-down:before { content: "\e607"; }
.icon-bitcoin:before { content: "\42"; }
.icon-cart:before { content: "\e600"; }
.icon-cirrus:before { content: "\43"; }
.icon-dankort:before { content: "\64"; }
.icon-diners_club:before { content: "\63"; }
.icon-discover:before { content: "\44"; }
.icon-dogecoin:before { content: "\e904"; }
.icon-dwolla:before { content: "\e905"; }
.icon-facebook:before { content: "\66"; }
.icon-fancy:before { content: "\46"; }
.icon-forbrugsforeningen:before { content: "\e906"; }
.icon-google-plus:before { content: "\e900"; }
.icon-grid-view:before { content: "\e603"; }
.icon-hamburger:before { content: "\e601"; }
.icon-instagram:before { content: "\e901"; }
.icon-interac:before { content: "\49"; }
.icon-jcb:before { content: "\4a"; }
.icon-list-view:before { content: "\e604"; }
.icon-litecoin:before { content: "\e908"; }
.icon-maestro:before { content: "\6d"; }
.icon-master:before { content: "\4d"; }
.icon-minus:before { content: "\e602"; }
.icon-paypal:before { content: "\50"; }
.icon-pinterest:before { content: "\70"; }
.icon-plus:before { content: "\e605"; }
.icon-rss:before { content: "\72"; }
.icon-search:before { content: "\73"; }
.icon-stripe:before { content: "\53"; }
.icon-tumblr:before { content: "\74"; }
.icon-twitter:before { content: "\54"; }
.icon-vimeo:before { content: "\76"; }
.icon-visa:before { content: "\56"; }
.icon-x:before { content: "\e606"; }
.icon-youtube:before { content: "\79"; }


/* ==== cart drawer custom css ======= */
#CartDrawer .drawer_btn{
  background: #fff;
  //border: 1px solid #000;
  cursor: pointer;
  display: block;
  line-height: 1;
  padding: 0 1.2em;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 100%;
}
#CartDrawer .drawer_btn:hover{
//background: #000;
//border-color: #000;
//color: #fff;
cursor: pointer;
}
#CartDrawer .drawer_btn.chk_out{
margin-top: 1rem;
}
#CartDrawer .drawer_cost{
  display: inline-block;
  margin-bottom: 10px;
}
#CartDrawer .ajaxcart__footer {
  position: fixed;
  width: 100%;
  left: 0;
  padding: 3rem 1.25rem;
  bottom: 0;
  z-index: 999;
  background-color: #fff;
}
.drawer-page-content::after {
  background-color: rgba(0,0,0,0.2);
  display: none;
}
.js-drawer-open .header_outer:before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92%;
  background-color: rgba(0,0,0,0);
  z-index: 8;
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
}
#CartDrawer .ajaxcart__inner {
  height: 83%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  overflow-x: hidden;
  padding: 20px 1.2rem 0;
}
#CartDrawer .ajx_deatil p{
  margin-bottom: 0;
}
#CartContainer > p {
    padding: 20px 0px;
    text-align: center;
}
#CartContainer .ajaxcart__product-name, #CartContainer .ajaxcart__product-meta, #CartContainer .ajaxcart__row span, .drawer_cost p{
  font-size: 11px;
}
#CartContainer .ajaxcart__qty button:focus{
  outline: none;
}
#CartContainer .ajaxcart__qty button{
  padding:0 4px;
}
#CartContainer .ajaxcart__qty button .icon{
  height: 17px;
}
/* ==== account drawer ====== */
.acc_drawer {
  padding-top: 20px;
}
.acc_drawer .btn{
  border: none;
  margin: 0;
}
.acc_drawer label, .acc_drawer a, .acc_drawer input, .acc_drawer input, .acc_drawer p, .acc_drawer button  {
  font-size: 11px;
}
.js-drawer-open #shopify-section-footer {
  position: relative;
}

/* === media screens ===*/
@media screen and (max-width: 749px){
.header_outer.is-transitioning:before {
  height: 100%;
  
}
.ajaxcart__qty input {
  padding: 5px 35px 5px 35px;
}
#CartDrawer .ajaxcart__inner {
  height: 87%;
}
.drawer_btun .one-whole{
  position: relative;
}
#CartDrawer .drawer_cost {
  display: block; 
  margin-bottom: 0px; 
}
#CartDrawer .drawer_btn.chk_out {
    margin-top: 0.5rem;
}
.drawer_btun .drawer_btn_mob {
    padding: 0 42px;
}  
}