.site-footer__linklist {
  margin-top: 0px;
}
.site-footer {
  margin: 0px 0 0;
}
.site_main__mnu {
  outline: none;
}
ul#AccessibleNav {
  position: absolute;
  z-index: 9;
  background: rgba(255,255,255, 0.8);
  top: 41px;
  padding: 0;
  
}
ul#AccessibleNav li a{
  padding: 10px 30px;
}
.footer_bot {
  padding-left: 23px;
}
#CartCount {
  position: relative;
  display: inline-block;
  top: inherit;
  right: inherit;
  min-width: auto;
  height: auto;
  font-weight: normal;
}
.page-width_col > .grid > .grid__item {
  padding: 0;
}
.page-width_col > .grid {
  margin-left: 0;
}
.ajaxified-cart-feedback{
  display: none !important;
}
#CartCount.hidden-count{
  display: none;
}
.addcartt{
  width: 100%;
}
.addcartt, .addcartt:focus, .addcartt button:active, .addcartt button:focus {
  outline: none;
}
.swatch .select_drop .option_pick {
  width: auto;
  display: inline-block;
  padding: 10px 23px;
  cursor: pointer;
}
ul.swatch_ul {
  //position: absolute;
  //top: 30px;
  background-color: #fff;
  z-index: 99;
}
.swatch .swatch-element label {
  padding: 2px 10px;
  font-weight: 100;
}
.swatch input[type=radio]:checked + label {
  font-weight: 600;
}
.swatch .swatch-element {
  // width: 100%;
  margin: 0;
}
.selector-wrapper.js.product-form__item {
  margin: 0;
}
h1.product-single__title, .product-single__price {
  font-size: 11px;
}
img.zoomImg {
  cursor: zoom-in;
}
.cart__qty .cart__qty-input::-webkit-inner-spin-button,.cart__qty .cart__qty-input::-webkit-outer-spin-button{
  -webkit-appearance: none; 
  margin: 0; 
}
.cart__qty .cart__qty-input:focus{
  outline: none;
  border: none;
}
.site-footer__copyright {
  margin-top: 3px;
}
.site-footer__copyright-content {
  padding-right: 55px;
}
.contact-form.form-vertical input, .contact-form.form-vertical textarea {
  border-color: #e9e9e9;
}
.contact-form.form-vertical input[type="submit"] {
  border-color: #fff;
}
body[class*="template-customers"] .form-vertical input{
    border-color: #e9e9e9;
}
body[class*="template-customers"] .form-vertical input[type="submit"]{
    border-color: #fff;
}

.footer_outer {
  padding-bottom: 48px;
}
html{
  height: 100%;
}
body{
  position: relative;
  min-height: 100%;
}
/* #shopify-section-footer {
  position: absolute;
  bottom: 0;
  width: 100%; 
  left: 0;
  right: 0;
  margin: 0 auto;
} */

// product mobile
.scrollpane {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  /* snap to points */
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;

  /* x interval for snapping (100% of container width) */
  -webkit-scroll-snap-points-x: repeat(100%);
  -ms-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);
}
/* .scrollpane_items {
  width: 400%;
  overflow: hidden;
}
.scrollpane_item {
  width: 25%;
  float: left;
} */
.product-single__description {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 11px;
}
.product-single__description ul{
  margin-bottom: 0;
}
.product-single__description li {
    list-style: disc;
}
.product-single__description .desc_heading{
  width: 100%;
  display: inline-block;
}
.return-link-wrapper a:active{
  box-shadow: none;
}
.return-link-wrapper a:focus{
  outline: none;
}
.lookbook_outer{
  position: relative;
  height: 582px;
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -25px;
}
.header_outer.head_fixed {
  position: fixed;
  top: 0;
  z-index: 9;
}
#PageContainer {
  //padding-top: 50px;
}
/* ==== sticky header==== */
.header_outer.scroll-to-fixed-fixed {
  width: 100% !important;
}

#page_lookbook button.slick-prev.slick-arrow {
  left: 0;
  background-image: url('https://cdn.shopify.com/s/files/1/2955/7624/files/left3.svg');
}
#page_lookbook button.slick-next.slick-arrow {
  right: 0;
  background-image: url('https://cdn.shopify.com/s/files/1/2955/7624/files/right3.svg');
}
#page_lookbook button.slick-next.slick-arrow:before, #page_lookbook button.slick-prev.slick-arrow:before {
  display: none;
}
#page_lookbook button.slick-arrow{
  height: 40px;
  width: 40px;
  z-index: 20;  
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.5);
  background-position: center center;
  outline: none;
}
#page_lookbook button.slick-arrow:focus{
  outline: none;
}
#Collection{
  position: relative;
}
#Collection .col_top_text {
  position: absolute;
  z-index: 9;
}
ul.list--inline.pagination {
  width: 100%;
}
span.cart__subtotal-title, span.cart__subtotal {
  font-size: 11px;
}
/* ==== media screens ==== */
@media screen and (min-width: 750px){
#PageContainer {
 // margin-top: -4px;
}
body.head_scroll #PageContainer {
  margin-top: -17px;
}  
.hero.hero--x-large{
  height: 94vh;
}
.prod_left{
  width: 12%;
}
.prod_right{
  width: 25%;
}
.product-single__description .desc_heading{
  text-align: left;
  padding-left:3% !important;
}  
.addcartt button{
  margin: 0 auto;  
}    
.pro_main_pic {
  padding: 0;
}  
.product-single__description ul{
  margin-left: 19px;
}  
.js-drawer-open #shopify-section-footer {
  //position: fixed !important;
}
.lookbook_outer{
  height: 85vh;
}
.site_main__mnu {
  margin-top: 18px;
}
.site-header__cart, .site-header__account {
  margin-top: 8px;
}
.page-container {
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}  
/* .site-header__cart, .site-header__account {
  top: 46%;
}
.site_main__mnu {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}   */
}
@media screen and (min-width: 1600px){
.lookbook_outer {
  height: 88vh;
}
.hero.hero--x-large {
  height: 96vh;
}  
}

@media screen and (max-width: 749px){
.site_main__mnu {
  font-size: 1em;
  padding: 14px 12px 2px 12px !important;
}
ul#AccessibleNav {
  top: 38px;
}  
.header_outer.head_fixed ul#AccessibleNav{
  top: 33px !important;
}  
.page-width_col{
  padding-left: 22px;
  padding-right: 22px;
}
.mobile-nav__link:focus, .site-header__menu {
  outline: none;
}
.site-header__cart-count span {
  padding: 0;  
}
.footer_bot {
  padding-left: 0;
}
.footer_bot li {
  padding: 0 2px;
}
.footer_bot li a {
  font-size: 11px;
}
.site-footer__copyright-content{
  font-size: 10px;
}  
.footer_bot li .icon {
  width: 12px;
  height: 12px;
}
.site-footer__linklist + .grid__item {
  padding: 0;
}
.product-single__photo-wrapper, button.thumbnails-slider__btn{
  display:  none;
} 
.product-single__thumbnail {
  width: auto;
}
.product-single__thumbnails{
  max-width: inherit !important;
}
#PageContainer {
  //margin-top: -10px;
}
.product-single__thumbnails-item {
  width: auto;
}
.site-footer__copyright-content {
  padding-right: 15px;
}
.footer_outer {
  padding-bottom: 38px;
}
.site-header__account{
  display: block;  
}
.cart-area li {
  display: inline-block;
}  
.cart-area li a {
  padding: 0px 12px 2px 0px !important;
}
.cart-area li a.site-header__account {
  right: 0;
  padding: 15px 4px 0px 0px !important;
}
.prod_left{
  display: none;
}
.prod_right{
  width: 100%;
}
.return-link-wrapper {
  margin-bottom: 0;
  margin-top: 0;
}

.lbook_mob .lookbook_outer_mob{
  height: 43vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_outer .site-header__logo {
  margin: 0 !important;
}
#Collection .col_top_text {
  left: 12px;
}
.page-container {
    transition: none;
}
    .product-single__description .desc_heading {
    padding-left: 4%;
}
  .product-single__description .size-chart {
    /* margin-top: 30px; */
    padding-left: 4% !important;
}
  
/* .js-drawer-open .header_outer {
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;
}   */
}

@media screen and (max-width: 480px){
.footer_bot li a {
  font-size: 9px;
}
.site-footer__copyright-content{
  font-size: 8px;
}  
  .product-single__description .desc_heading {
    padding-left: 7%;
}
  .product-single__description .size-chart {
    padding-left: 7% !important;
}
}
@media screen and (max-width: 400px){
.footer_bot li a {
  font-size: 7px;
}
.site-footer__copyright-content{
  font-size: 7px;
}  
}
  .product-single__description .size-chart {
    padding-left: 8px;
}