{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template' %}

<!-- spurit_occ-added -->
{% include 'spurit_occ-collection-snippet' %}
<!-- /spurit_occ-added -->
